[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
	ignore = dirty
[submodule "modules/clap-juce-extensions"]
	path = modules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
[submodule "modules/bungee"]
	path = modules/bungee
	url = https://github.com/bungee-audio-stretch/bungee.git
[submodule "modules/signalsmith-dsp"]
	path = modules/signalsmith-dsp
	url = https://github.com/Signalsmith-Audio/dsp.git
[submodule "libs/soundfont"]
	path = libs/soundfont
	url = https://github.com/chalkwalk/chalkwalk-soundfont.git
[submodule "libs/tape"]
	path = libs/tape
	url = https://github.com/chalkwalk/chalkwalk-tape.git
